/* Layouts */
/* PAGE LAYOUT
-----------------------------*/
.small-body .page-wrapper {
    min-height: 100vh;
    position: relative;
    .footer {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}
.page-wrapper {
    .clearfix();
}
body {
    color: @textcolor;
    font-family: @bodyfont;
    font-size: @textsize;
    line-height: 1.9;
    -webkit-transition: opacity .24s ease-in-out;
       -moz-transition: opacity .24s ease-in-out;
            transition: opacity .24s ease-in-out;
}
.heightzero {
    height: 0;
    overflow: hidden;
}
.wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    .row-container {
        display: block;
        margin: 0 auto;
        max-width: @rowcontainer;
        width: 100%;
        &:after {
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
    }
    // Box layout
    &.box-layout {
        overflow: hidden;
        .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, .2));
        &:after {
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
    }
    .box-body-inner {
        margin: auto;
        max-width: 1250px;
        padding: 40px;
        padding-bottom: 0;
    }
    &.box-body {
        .header-container {
            background: none;
        }
        .page-wrapper {
            padding-bottom: 70px;
        }
    }
}
.wrapper .vc_row.full-width,
.wrapper .vc_row[data-vc-full-width] {
    .row-container {
        margin-left: -15px;
        margin-right: -15px;
        max-width: none !important; // override 
        width: auto;
    }
    &.vc_row-no-padding {
        .row-container {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.wrapper .vc_row[data-vc-full-width] {
    overflow: visible; /* override */
}
.wrapper {
    .vc_col-has-fill > .vc_column-inner,
    .vc_row-has-fill > .vc_column_container > .vc_column-inner {
        padding-top: 0;
    }
    .vc_column_container > .vc_column-inner {
        width: auto;
    }
}
.vc_row {
    margin-bottom: calc(@rowspace ~"-" 35px);
}
/* SHOP PAGE
-----------------------------*/
.shop-page {
    .main-container {
        padding-top: 0;
    }
}
.shop-banner {
    margin-bottom: 35px;
    position: relative;
    img {
        width: 100%;
    }
}
.fullwidth .shop-banner {
    display: none;
}
.shop-title {
    display: none;
}
/* PRODUCT PAGE
-----------------------------*/
.single-product {
    .product-banner {
        margin-bottom: 40px;
    }
}
/* INNER BRANDS
-----------------------------*/
.inner-brands {
    margin-bottom: 35px;
}
/* IMAGE HOVER 
-----------------------------*/
// Image hover effect (in main-container, not include header, footer -> logo, image payment)
.main-container .wpb_single_image {
     > .wpb_wrapper {
        max-width: 100%; // for responsive FF and IE
    }
}
.main-container {
    .wpb_single_image a,
    .image-hover-effect {
        .image-hover-effect();
    }
}
/* ICON
-----------------------------*/
.wrapper i.icon {
    display: inline-block;
    height: auto;
    line-height: inherit;
    margin: 0;
    vertical-align: middle;
    width: auto;
}
/* SLIDER REVOLUTION
-----------------------------*/
.wrapper .wpb_revslider_element {
    margin-bottom: 35px;
    .tp-caption {
        a {
            color: inherit;
            display: block;
            position: relative;
            .transition(inherit);
            &:hover {
                color: inherit;
            }
        }
        i {
            font-size: 16px;
            line-height: inherit !important;
            margin-left: 5px;
            vertical-align: top;
        }
    }
}

/*CAROUSEL
-----------------------------*/

/* PRODUCT CAROUSEL
-----------------------------*/
.roadthemes-slider {
    .item-col {
        max-width: 100%; /* override */
        padding-left: 0; /* override */
        padding-right: 0; /* override */
        width: 100%;

        flex: 0 1 auto; /* override */
    }
}
.roadthemes-slider.roadthemes-products {
    .shop-products {
        margin-left: 0; /* override */
        margin-right: 0; /* override */
        .item-col {
            margin-bottom: 0; /* override */
            padding-left: 0; /* override */
            padding-right: 0; /* override */
            width: 300px; // slider not load
        }
        .owl-item {
            .item-col {
                width: 100%;
            }
            .product-wrapper {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .group {
            display: block; /* override */
            .item-col {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .owl-item.active {
            .item-col {
                .animation(zoomIn 500ms ease-in-out);
            }
        }
        // item col have equal height
        .owl-stage {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display:    -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display:         flex;

            flex-flow: row wrap;
            margin: auto;
            .item-col {
                display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
                display:    -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
                display: -ms-flexbox;      /* TWEENER - IE 10 */
                display: -webkit-flex;     /* NEW - Chrome */
                display:         flex;
                min-height: 100%;
            }
        }
    }
}
/* LIST PRODUCT
-----------------------------*/
.product-list {
    .shop-products {
        .group {
            width: 100%; /* override */
            .item-col {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .listview {
            display: block;
        }
        .gridview {
            display: none;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .list-col4 {
            float: left;
            width: 24%;
        }
        .list-col8 {
            float: left;
            padding: 0 0 0 20px;
            width: 76%;
        }
        .product-name {
            margin: 0 0 10px 0;
            a {
                font-size: 1em;
            }
        }
        .price-box {
            font-size: @pricefontsize;
            margin-bottom: 5px;
        }
        .quickviewbtn,
        .onsale,
        .product-desc,
        .actions {
            display: none;
        }
        .star-rating {
            margin: 0;
        }
    }
    &.roadthemes-slider {
        .owl-dots {
            margin-top: 35px;
            text-align: left;
        }
    }
}
/* CATEGORIES MENU
-----------------------------*/
.categories-menu-wrapper {
    position: relative;
    .categories-menu {
        min-height: auto;
        width: 100%;
        z-index: 99;
        &.show {
            .catemenu {
                height: auto;
                overflow: visible;
            }
        }
        .catemenu-toggler {
            background: @primarycolor;
            color: @white;
            cursor: pointer;
            font-family: @headingfont;
            font-size: 13px;
            font-weight: 500;
            height: 56px;
            line-height: 56px;
            padding: 0 30px;
            width: 100%;
            .border-radius(4px);
            span {
                &:after {
                    content: '\f0c9';
                    display: inline-block;
                    float: right;
                    font-family: FontAwesome;
                    font-size: 15px;
                    margin-left: 15px;
                    vertical-align: top;
                }
            }
        }
        .catemenu {
            height: 0;
            overflow: hidden;
            .transition();
        }
        .catemenu-inner {
            background: @categoriesbg;
            border: 2px solid @primarycolor;
            width: 100%;
        }
        .categories {
            display: none;
        }
        /* for default wordpress menu (not selected menu location) */
        & > ul {
            display: none;
            margin: 0;
            & > li {
                display: none;
            }
        }
        /* for default wordpress menu (selected menu location) */
        .categories-menu-container {
            display: none;
            position: relative;
            z-index: 100;
            ul {
                background: @categoriesbg;
                margin: 0;
                padding: 0;
                & > li {
                    list-style: none;
                    padding: 0 15px;
                    position: relative;
                    &.menu-item-has-children {
                         > a {
                            &:after {
                                border: none !important;
                                color: inherit;
                                content: '\f105';
                                display: inline-block;
                                font-family: FontAwesome;
                                font-size: 16px;
                                height: auto;
                                left: auto;
                                position: absolute;
                                right: 15px;
                                top: 50%;
                                width: auto;
                                .transform(translateY(-50%));
                            }
                        }
                    }
                    &:hover {
                        & > a {
                            color: @primarycolor;
                        }
                         > .sub-menu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .sub-menu {
                        border: 1px solid @bordercolor;
                        left: 100%;
                        min-width: 200px;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        visibility: hidden;
                        z-index: 9;
                        .transition();
                        .sub-menu {
                            top: 10px;
                        }
                    }
                    //first level
                    & > a {
                        background-image: none;
                        border-bottom: 1px solid @bordercolor;
                        color: @menucolor;
                        display: block;
                        font-family: @menufont;
                        font-size: 12px;
                        font-weight: normal;
                        padding: 12px 15px;
                        text-decoration: none;
                        text-transform: none;
                        -webkit-transition: all .4s ease;
                                transition: all .4s ease;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                }
            }
        }
        /* for normal */
        .categories {
            height: auto;
            & > .menu_holder {
                width: 100%;
                .menu_inner {
                    width: 100%;
                    .nav_logo {
                        display: none;
                    }
                    & > ul {
                        & > li {
                            background: none;
                            padding: 0 15px;

                            &.nav_search_box {
                                display: none !important;
                            }
                            &.current-menu-ancestor,
                            &.current-menu-item,
                            &.current-product-ancestor,
                            &:hover {
                                & > a {
                                    &.item_link {
                                        color: @linkhovercolor;
                                        .link_text,
                                        &:after,
                                        .link_content,
                                        i {
                                            color: @linkhovercolor;
                                        }
                                    }
                                }
                            }
                            &.menu-item-has-children {
                                & > a {
                                    &.item_link {
                                        // background-color: @primarycolor;
                                        background-image: none;
                                        &:before {
                                            display: none;
                                        }
                                        &:after {
                                            border: none !important;
                                            color: inherit;
                                            content: '\f105';
                                            display: inline-block;
                                            font-family: FontAwesome;
                                            font-size: 16px;
                                            height: auto;
                                            left: auto;
                                            position: absolute;
                                            right: 15px;
                                            top: 50%;
                                            width: auto;
                                            .transform(translateY(-50%));
                                        }
                                    }
                                }
                            }
                            //first level
                            & > a {
                                &.item_link {
                                    background: none;
                                    border-bottom: 1px solid @bordercolor;
                                    color: @categoriescolor;
                                    display: block;
                                    height: auto; // override
                                    line-height: 1.8;
                                    min-height: 0 !important;
                                    overflow: hidden;
                                    padding: 12px 15px;
                                    text-decoration: none;
                                    -webkit-transition: all .4s ease;
                                            transition: all .4s ease;
                                    .link_text,
                                    i {
                                        color: @categoriescolor;
                                        height: 100%;
                                        line-height: inherit;
                                        text-transform: capitalize;
                                    }
                                    i {
                                        font-size: 13px; /* override */
                                        padding-right: 10px; /* override */
                                        width: auto; /* override */
                                    }
                                    .link_content {
                                        height: auto; /* override */
                                        line-height: inherit; /* override */
                                        min-height: 0; /* override */
                                        position: relative;
                                    }
                                    .link_text {
                                        font-size: @categoriesfontsize;
                                        font-weight: @categoriesfontweight;
                                        height: 100%;
                                        line-height: inherit;
                                        margin: 0 !important;
                                        min-height: 0;
                                        padding-right: 15px;
                                        word-break: break-word;
                                    }
                                    &.with_icon {
                                         > .link_content {
                                            margin: 0;
                                        }
                                    }
                                    &:before,
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                            &.default_dropdown {
                                ul.mega_dropdown {
                                    background: @categoriessubmenubg;
                                    border: 1px solid @bordercolor;
                                    box-shadow: none;
                                    padding: 0 15px;
                                    li {
                                        border-bottom: 1px solid @bordercolor;
                                        width: 100%;
                                        &:last-child {
                                            border-bottom: none;
                                        }
                                        a.item_link {
                                            background: none;
                                            border: none;
                                            display: block;
                                            font-size: @categoriessubmenufontsize;
                                            line-height: 1.8;
                                            padding: 12px 0;
                                            text-transform: none;
                                            .link_text {
                                                color: @categoriessubmenucolor;
                                                font-family: @categoriessubmenufont;
                                                font-size: @categoriessubmenufontsize;
                                                font-weight: normal;
                                            }
                                            i {
                                                color: @textcolor;
                                                float: left;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus {
                                                background: none;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                background: none;
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        &:hover,
                                        &.current-menu-ancestor,
                                        &.current-menu-item,
                                        &.current-product-ancestor {
                                            & > a.item_link {
                                                background: none;
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                            & > .item_link * {
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.multicolumn_dropdown {
                                &.columns3 {
                                    & > ul.mega_dropdown {
                                        width: 670px;
                                    }
                                }
                                &.columns2 {
                                    & > ul.mega_dropdown {
                                        width: 460px;
                                    }
                                }
                                &.columns1 {
                                    & > ul.mega_dropdown {
                                        width: 255px;
                                    }
                                }
                                & > ul.mega_dropdown {
                                    background: @categoriessubmenubg;
                                    border: 1px solid @bordercolor;
                                    box-shadow: none;
                                    padding: 14px 0 20px 0;
                                    & > li {
                                        padding: 15px 20px 10px 30px;
                                        a {
                                            background: none;
                                            padding: 0;
                                            text-transform: none;
                                            .link_text {
                                                color: @categoriessubmenucolor;
                                                display: block;
                                                font-family: @categoriessubmenufont;
                                                font-size: @categoriessubmenufontsize;
                                                font-weight: normal;
                                            }
                                            i {
                                                color: @categoriessubmenucolor;
                                                float: left;
                                                height: 36px;
                                                line-height: 36px;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus {
                                                background: none;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                background: none;
                                                padding-left: 10px;
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        //first sub level
                                        & > a {
                                            display: inline-block;
                                            font-size: @categoriessubmenufontsize;
                                            margin-bottom: 25px;
                                            position: relative;
                                            width: 100%;
                                            &[href='#'] {
                                                pointer-events: none;
                                            }
                                            .link_text {
                                                color: @primarycolor;
                                                display: block;
                                                font-family: @categoriessubmenufont;
                                                font-size: 1em;
                                                font-weight: @headingfontweight;
                                                line-height: 1.5;
                                                text-transform: uppercase;
                                            }
                                            i {
                                                height: 47px;
                                                line-height: 47px;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        ul.mega_dropdown {
                                            li {
                                                margin-bottom: 15px;
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                    li {
                                        &.current-menu-item,
                                        &.current-product-parent {
                                            & > .item_link * {
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.widgets_dropdown {
                                & > ul.mega_dropdown {
                                    background: @categoriessubmenubg;
                                    border-color: @bordercolor @bordercolor @primarycolor @bordercolor;
                                    border-style: solid;
                                    border-width: 1px 1px 3px 1px;
                                    box-shadow: none;
                                    padding: 0 15px !important;
                                    & > li {
                                        margin: 0;
                                        &.widget_menu {
                                            padding: 0;
                                            position: absolute;
                                            right: 20px;
                                            top: 32px;
                                            width: 170px !important;
                                            .widget {
                                                font-size: 12px;
                                                line-height: 1.5;
                                                margin: 0;
                                                padding-left: 0;
                                                padding-right: 0;
                                                width: 100%;
                                                .widgettitle {
                                                    background: none;
                                                    border-bottom: 1px solid @bordercolor;
                                                    margin: 0 0 8px;
                                                    padding: 0 0 5px;
                                                    text-transform: uppercase;
                                                }
                                                p {
                                                    float: left;
                                                    margin: 0;
                                                    width: 100%;
                                                    &:first-child {
                                                        margin-left: 0;
                                                    }
                                                }
                                                a {
                                                    display: block;
                                                    float: left;
                                                    overflow: hidden;
                                                    padding: 0;
                                                    position: relative;
                                                    width: 100%;
                                                    img {
                                                        margin: 0;
                                                        -webkit-transition: -webkit-transform .3s ease;
                                                                transition:         transform .3s ease;
                                                    }
                                                    &:before {
                                                        background: #000;
                                                        content: '';
                                                        display: block;
                                                        height: 100%;
                                                        left: 0;
                                                        opacity: 0;
                                                        position: absolute;
                                                        top: 0;
                                                        -webkit-transition: all .3s ease;
                                                                transition: all .3s ease;
                                                        width: 100%;
                                                        z-index: 1;
                                                    }
                                                    &:hover {
                                                        img {
                                                            -webkit-transform: scale(1.05);
                                                                    transform: scale(1.05);
                                                        }
                                                        &:before {
                                                            opacity: .2;
                                                        }
                                                    }
                                                }
                                                img {
                                                    float: left;
                                                }
                                            }
                                        }
                                        a {
                                            background: none;
                                            padding: 0;
                                            text-transform: none;
                                            .link_text {
                                                color: @vmenucolor;
                                                font-family: @bodyfont;
                                                font-size: 12px;
                                                font-weight: normal;
                                                line-height: 36px;
                                            }
                                            i {
                                                color: @vmenucolor;
                                                float: left;
                                                height: 36px;
                                                line-height: 36px;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus {
                                                background: none;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                background: none;
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        //first sub level
                                        & > a {
                                            border-bottom: 1px solid @bordercolor;
                                            display: inline-block;
                                            margin-bottom: 10px;
                                            text-transform: uppercase;
                                            width: 100%;
                                            .link_text {
                                                color: @vmenucolor;
                                                font-family: @menufont;
                                                font-size: 14px !important;
                                                font-weight: normal;
                                                line-height: 47px;
                                            }
                                            i {
                                                height: 47px;
                                                line-height: 47px;
                                            }
                                            &:before {
                                                display: none;
                                            }
                                            &:hover {
                                                .link_text {
                                                    color: @primarycolor;
                                                }
                                                i {
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        & > ul.mega_dropdown {
                                            padding-bottom: 10px;
                                        }
                                    }
                                    li {
                                        &.current-menu-item,
                                        &.current-product-parent {
                                            & > .item_link * {
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.submenu_full_width {
                                & > ul.mega_dropdown {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .mmm_fullwidth_container {
                    display: none;
                }
            }
        }
        .menu-primary-menu-container {
            ul#menu-primary-menu {
                margin: 0;
                padding: 0;
                & > li {
                    list-style: none;
                }
            }
        }
        /* for active megamainmenu (not selected menu location) */
        div.mega_main_menu_ul {
            display: none;
        }
        .morelesscate {
            display: none;
            width: 100%;
            z-index: 9999999;
            span {
                color: @categoriescolor;
                cursor: pointer;
                display: block;
                font-family: @categoriesfont;
                font-size: 14px;
                font-weight: @headingfontweight;
                padding: 12px 25px;
                text-decoration: none;
                -webkit-transition: all .4s ease;
                        transition: all .4s ease;
                i {
                    font-size: 12px;
                    padding-right: 10px;
                }
                &.lesscate {
                    display: none;
                }
                &:hover {
                    color: @primarycolor;
                }
            }
        }
    }
}
/* BRAND CAROUSEL
-----------------------------*/
.brands-carousel {
    .owl-item {
        a {
            display: block;
            text-align: center;
            &:hover {
                img {
                    .transform(scale(1.1));
                }
            }
            img {
                display: inline-block;
                width: auto;
                .transition();
            }
        }
    }
    &.style2 {
        border-bottom: 1px solid @bordercolor;
        border-top: 1px solid @bordercolor;
        padding: 40px 0;
    }
    &.style3 {
        border-top: 1px solid @bordercolor;
        padding: 40px 0;
        margin-bottom: 0;
    }
}
/* SHOW CATEGORIES CAROUSEL homepage demo 4
-----------------------------*/
body.page-template-demo4 {
    .categories-menu {
        #categories {
            display: block;
        }
        .morelesscate {
            display: block;
        }
    }
}
/* HOME TABS GENERAL
-----------------------------*/
.vc_tta-container {
    margin-bottom: 0 !important;
    .vc_tta-tabs-container {
        display: inline-block !important;
        margin: 0 0 40px 0 !important;
        padding: 0;
        vertical-align: middle;
        width: 100%;
    }
    .vc_tta-tabs-list {
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 20px 0 0 !important;
            position: relative;
            vertical-align: top;
            a {
                background: none !important;
                border: 2px solid @bordercolor !important;
                border-radius: 0 !important;
                color: #a3a3a3 !important;
                color: #a3a3a3 !important;
                display: inline-block;
                font-family: @headingfont;
                font-size: 14px;
                font-size: 14px;
                font-weight: @headingfontweight;
                height: 56px;
                line-height: 51px;
                min-width: 158px;
                padding: 0 20px 15px 20px !important;
                padding: 0 15px;
                position: relative;
                text-align: center;
                vertical-align: middle;
                .transition();;

                &:before {
                    display: none !important;
                }
                &:after {
                    display: none !important;
                }
            }
            &:hover,
            &.vc_active {
                a {
                    background: none !important;
                    border-color: @darkcolor !important;
                    color: @primarycolor !important;
                    color: @darkcolor !important;
                }
            }
        }
    }
    .vc_tta-panels-container {
        .vc_tta-panels {
            background: none !important; /* override */
            border: none !important; /* override */
        }
        .vc_tta-panel-heading {
            display: none !important; /* override */
        }
    }
    .vc_tta-panel-body {
        background: none !important; /* override */
        border: none !important; /* override */
        overflow: visible !important;
        padding: 0 !important;
        position: relative;
        z-index: 11;
    }
}
[class*='home-tabs'] {
    .wpb_content_element {
        display: none;
    }
    .shop-products {
        .group {
            .item-col {
                width: 100%;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .item-col {
            width: 350px;
            &.first {
                clear: none;
            }
        }
    }
}
.home-tabs-text {
    letter-spacing: .08em;
    text-align: center;
    h3 {
        font-size: 32px;
    }
    p {
        font-weight: @headingfontweight;
    }
}
.home-tabs {
    .home-tabs-title {
        list-style-type: none;
        margin: 0 0 40px 0;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 20px 0 0;
            position: relative;
            vertical-align: top;
            &:last-child {
                margin-right: 0;
            }
            a {
                border: 2px solid @bordercolor;
                color: #a3a3a3;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                height: 56px;
                line-height: 51px;
                min-width: 158px;
                padding: 0 15px;
                text-align: center;
                vertical-align: middle;
                &:hover,
                &.active {
                    border-color: @darkcolor;
                    color: @darkcolor;
                }
            }
        }
    }
}
.sidebar-countdown {
    .shop-products {
        .gridview {
            display: block;
        }
        .listview {
            display: none;
        }
        .count-down {
            display: block;
            .timebox {
                background: #f2f2f2;
                border: 1px solid @bordercolor;
                margin: 0 8px 0 0;
            }
            .hastime {
                margin-bottom: 20px;
            }
        }
        .product-button {
            display: none;
        }
    }
}
/* POLICY
-----------------------------*/
.policy.layout1 {
    .vc_column-inner > .wpb_wrapper {
        padding-left: 45px;
        padding-right: 10px;
        position: relative;
        &:hover {
            .wpb_single_image {
                .animation(rotate 2s infinite);
            }
        }
    }
    .wpb_column {
        &:last-child {
            .vc_column-inner > .wpb_wrapper:before {
                display: none;
            }
        }
    }
    .wpb_single_image {
        left: 0;
        margin: 0;
        position: absolute;
        top: 5px;
        z-index: 9;
    }
    .wpb_text_column {
        h4 {
            font-size: 1em;
            margin-bottom: 7px;
        }
        p {
            font-size: 0.929em;
            line-height: 1.65;
        }
    }
    &.with-border {
        .row-container {
            margin-bottom: 35px;
            padding-bottom: 25px;
            position: relative;
            &:before {
                background: @bordercolor;
                bottom: 0;
                content: '';
                display: block;
                height: 1px;
                left: 15px;
                position: absolute;
                right: 15px;
                z-index: 9;
            }
        }
    }
}
.policy.layout2 {
    .vc_column-inner > .wpb_wrapper {
        background: #f5f5f5;
        border: 1px solid @bordercolor;
        margin-bottom: 35px;
    }
    .wpb_text_column {
        border-bottom: 1px solid @bordercolor;
        margin-bottom: 0;
        overflow: hidden;
        padding: 16px 20px;
         > .wpb_wrapper {
            padding-left: 45px;
            position: relative;
        }
        &:last-child {
            border-bottom: none;
        }
        img {
            left: 0;
            position: absolute;
            top: 0;
            z-index: 9;
        }
        h3 {
            color: @darkcolor;
            font-size: 1em;
            margin-bottom: 7px;
            overflow: hidden;
        }
        p {
            font-size: 0.929em;
            margin: 0;
        }
        p:not(:first-child) {
            overflow: hidden;
        }
    }
}
/* BANNER
-----------------------------*/
.banner-with-text {
    .row-container {
        padding-left: 5px;
        padding-right: 5px;
        .vc_column-inner {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .vc_column-inner > .wpb_wrapper {
        margin-bottom: 35px;
        position: relative;
        &:hover {
            .wpb_text_column {
                .opacity(1);
            }
            img {
                .opacity(0);
            }
        }
    }
    .wpb_single_image {
        margin-bottom: 0;
        a {
            position: relative;
            z-index: 12;
        }
    }
    .wpb_text_column {
        background: #f4f4f4;
        bottom: 0;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display:    -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display:         flex;
        left: 0;
        margin-bottom: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 7;
        .transition();
        .opacity(0);

        align-items: center;
        .wpb_wrapper {
            margin: auto;
            max-width: 270px;
        }
        h4 {
            color: #a3a3a3;
            font-size: .786em;
            margin-bottom: 5px;
        }
        h3 {
            color: @darkcolor;
            font-size: 1.714em;
            margin-bottom: 15px;
        }
    }
}
/* BLOG CAROUSEL
-----------------------------*/
.posts-carousel {
    background: @white;
    margin-bottom: 35px;
    position: relative;
    &.slide {
        .item-col {
            margin-bottom: 30px;
            max-width: 100%;
            width: 100%;

            flex: 0 1 auto;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &:not(.slide) {
        .group {
            .item-col {
                margin-bottom: 30px;
            }
            &:last-child {
                .item-col {
                    margin-bottom: 0;
                }
            }
        }
    }
    .post-wrapper {
        .clearfix();
    }
    .post-thumb {
        margin-bottom: 18px;
        position: relative;
        width: 100%;
        a {
            .image-hover-effect();
        }
    }
    .post-title {
        font-size: 18px;
        margin-bottom: 10px;
        a {
            color: @darkcolor;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
    .post-meta {
        display: block;
        font-size: 12px;
        margin-bottom: 17px;
        .clearfix();
        .post-date {
            float: left;
        }
        .post-comment {
            float: left;
        }
         > * {
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .post-date {
        color: #a3a3a3;
        display: block;
        &:before {
            content: '\f073';
            display: inline-block;
            font-family: FontAwesome;
            font-size: 12px;
            margin-right: 8px;
            margin-top: -1px;
            vertical-align: top;
        }
    }
    .post-comment {
        margin: 0;
        &:before {
            content: '\f27b';
            display: inline-block;
            font-family: FontAwesome;
            font-size: 14px;
            margin-right: 8px;
            margin-top: -3px;
            vertical-align: top;
        }
        a {
            color: #a3a3a3;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
    .post-author {
        display: none;
    }
    .post-excerpt {
        line-height: 1.9;
        p {
            margin: 0;
        }
    }
    .readmore {
        background: @white;
        border: 2px solid @bordercolor;
        color: @darkcolor;
        display: inline-block;
        font-family: @headingfont;
        font-size: 14px;
        font-weight: 500;
        height: 54px;
        line-height: 50px;
        margin-top: 25px;
        overflow: hidden;
        padding: 0 35px;
        text-transform: uppercase;
        &:hover {
            background: @primarycolor;
            border-color: @primarycolor;
            color: @white;
        }
    }
}
/* TESTIMONIAL
-----------------------------*/
.testimonials-container.layout1 {
    margin-bottom: @rowspace;
    padding: @rowspace 0;
    .testimonials-list {
        margin: 0;
    }
    .widget_woothemes_testimonials {
        .clearfix();
    }
    .testimonials {
        margin: auto;
        width: 100%;
        .clearfix();
        .quote {
            margin: auto;
            max-width: 900px;
            padding: 0 50px;
            position: relative;
            text-align: center;
             > .avatar,
             > a.avatar-link {
                background: @white;
                border: 11px solid #2d2f30;
                height: 93px;
                margin: auto;
                width: 93px;
                .border-radius(100%);
            }
        }
        .testimonials-text {
            background: none; /* override */
            border: none; /* override */
            color: @white;
            font-size: 1em;
            font-style: normal;
            line-height: 2;
            margin: 0 0 25px 0;
            padding: 0; // override
            text-align: center;
        }
        .author {
            display: block;
            margin-top: 14px;
            position: relative;
            text-align: center;
            .name,
            [itemprop='name'] {
                color: @primarycolor;
                display: block;
                font-family: @headingfont;
                font-style: normal; /* override */
                font-weight: @headingfontweight;
                text-transform: uppercase;
            }
            .title,
            [itemprop='jobTitle'] {
                color: #aaa;
                display: block;
                font-style: normal; /* override */
                font-weight: normal;
                margin: 5px 0 0 0;
            }
            [class*='url'] {
                display: none;
            }
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .owl-dots {
        .owl-dot {
            &:hover,
            &.active {
                &:before {
                    background: @primarycolor;
                }
            }
        }
    }
}
.testimonials-container.layout2 {
    .widget_woothemes_testimonials {
        .clearfix();
    }
    .testimonials {
        width: 100%;
        .clearfix();
        .quote {
            margin: auto;
            max-width: 900px;
            position: relative;
            text-align: center;
             > .avatar,
             > a.avatar-link {
                background: @white;
                border: 11px solid #e5e5e5;
                height: 93px;
                margin: auto;
                width: 93px;
                .border-radius(100%);
            }
        }
        .testimonials-text {
            background: none; /* override */
            border: none; /* override */
            color: @textcolor;
            font-style: normal;
            line-height: 2;
            margin: 0 0 25px 0;
            padding: 0; // override
            text-align: center;
        }
        .author {
            display: block;
            margin-top: 14px;
            position: relative;
            text-align: center;
            .name,
            [itemprop='name'] {
                color: @primarycolor;
                display: block;
                font-family: @headingfont;
                font-style: normal; /* override */
                font-weight: @headingfontweight;
                text-transform: uppercase;
            }
            .title,
            [itemprop='jobTitle'] {
                color: @darkcolor;
                display: block;
                font-style: normal; /* override */
                font-weight: normal;
                margin: 0;
            }
            [class*='url'] {
                display: none;
            }
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.about-testimonial {
    .widget_woothemes_testimonials {
        .clearfix();
    }
    .testimonials {
        width: 100%;
        .clearfix();
        .quote {
            margin: auto;
            max-width: 900px;
            position: relative;
            text-align: center;
             > .avatar,
             > a.avatar-link {
                background: @white;
                border: 11px solid #e5e5e5;
                height: 93px;
                margin: auto;
                width: 93px;
                .border-radius(100%);
            }
        }
        .testimonials-text {
            background: none; /* override */
            border: none; /* override */
            color: @textcolor;
            font-style: normal;
            line-height: 2;
            margin: 0 0 25px 0;
            padding: 0; // override
            text-align: center;
        }
        .author {
            display: block;
            margin-top: 14px;
            position: relative;
            text-align: center;
            .name,
            [itemprop='name'] {
                color: @primarycolor;
                display: block;
                font-family: @headingfont;
                font-style: normal; /* override */
                font-weight: @headingfontweight;
                text-transform: uppercase;
            }
            .title,
            [itemprop='jobTitle'] {
                color: @darkcolor;
                display: block;
                font-style: normal; /* override */
                font-weight: normal;
                margin: 0;
            }
            [class*='url'] {
                display: none;
            }
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
/* IMAGE CAROUSEL
-----------------------------*/
.image-slider {
    background: @white;
    margin: 0 0 35px 0;
    padding: 32px 15px;
    .image-slider-inner {
        &:hover {
            .title a {
                background: @primarycolor;
                color: @white;
            }
        }
    }
    .image {
        a {
            display: block;
            height: 100%;
            width: 100%;
        }
        img {
            display: inline-block;
            width: 100%;
        }
    }
    .title a {
        background: @white;
        color: @headingcolor;
        font-size: 1em;
        font-weight: @headingfontweight;
        left: 50%;
        margin: 0;
        margin-right: -50%;
        max-width: 80%;
        max-width: 80%;
        min-width: 160px;
        padding: 20px 20px;
        pointer-events: none;
        position: absolute;
        text-align: center;
        text-align: center;
        top: 50%;
        z-index: 10;
        .transform(translate(-50%, -50%));
        .transition();
    }
}

/* PRODUCTS COUNTDOWN
-----------------------------*/
.product-countdown {
    .gridview {
        &:hover {
            .price-box {
                .opacity(1);
            }
        }
        .count-down {
            display: block;
        }
        .product-name {
            margin: 0 0 5px 0;
        }
        .cart-rating {
            display: none;
        }
    }
}
/* LARGE BANNER
-----------------------------*/
.large-banner {
    .row-container {
        .vc_column-inner {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .vc_row {
        margin-bottom: 0;
        margin-left: -10px;
        margin-right: -10px;
    }
    .wpb_single_image {
        margin-bottom: 20px;
    }
}
/* PRODUCT CAROUSEL WITH MENU
-----------------------------*/
.carousel-with-menu {
    .wpb_content_element.title-2 h3 {
        padding-right: 50%;
    }
    .vc_column-inner > .wpb_wrapper {
        position: relative;
    }
    .vc_wp_custommenu {
        margin-bottom: 0; /* override */
        position: absolute;
        right: 0;
        top: 15px;
        z-index: 9;
        ul {
            margin-bottom: 0; /* override */
            padding: 0; /* override */
            li {
                display: inline-block;
                list-style-type: none;
                margin-right: 20px;
                vertical-align: middle;
                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                color: #949494;
                &:hover {
                    color: @linkhovercolor;
                }
            }
        }
    }
}
/* PRODUCT_CATEGORIES
-----------------------------*/
.product-categories {
    .row-container {
        margin-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        .vc_column_container > .vc_column-inner {
            padding-left: 10px;
            padding-right: 10px;
        }
        .vc_row {
            margin-bottom: 0;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    .wpb_single_image {
        display: inline-block;
        margin-bottom: 20px;
        position: relative;
        &:hover {
            .wpb_singleimage_heading {
                background: @white;
                color: @primarycolor;
            }
        }
        a {
            &:before,
            &:after {
                display: none;
            }
        }
    }
    .wpb_singleimage_heading {
        background: transparent;
        bottom: 25px;
        color: @darkcolor;
        font-size: 1.857em;
        font-weight: 500;
        left: 25px;
        max-width: 80%;
        padding: 14px 20px;
        pointer-events: none;
        position: absolute;
        text-transform: none;
        z-index: 11;
        .transition();
    }
    &.layout2 {
        &.vc_row {
            margin-left: -10px;
            margin-right: -10px;
        }
        .vc_column_container .vc_column-inner {
            padding-left: 10px;
            padding-right: 10px;
        }
        .wpb_single_image {
            margin-bottom: 20px;
            position: relative;
            &:hover {
                .wpb_singleimage_heading {
                    background: @primarycolor;
                    color: @white;
                }
            }
        }
        .wpb_singleimage_heading {
            background: @darkcolor;
            bottom: 25px;
            color: @white;
            font-size: 1em;
            left: 50%;
            margin-right: -50%;
            max-width: 90%;
            padding: 13px 32px;
            pointer-events: none;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            z-index: 11;
            .transform(translateX(-50%));
        }
    }
}
/* SIDEBAR HOMEPAGE
-----------------------------*/
.sidebar-section {
    .vc_row {
        margin-bottom: 15px;
    }
}
.sidebar-products {
    .shop-products .listview {
        .product-name {
            margin: 0 0 5px 0;
        }
        .price-box {
            font-size: 1em;
            margin: 0 0 5px 0;
        }
    }
}
.main-container .slider-image {
    margin-left: -10px;
    margin-right: -10px;
    .vc_column-inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .wpb_revslider_element {
        margin-bottom: 20px;
    }
    .wpb_single_image {
        display: inline-block;
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        a {
            &:before,
            &:after {
                display: none;
            }
        }
        * {
            width: 100%;
        }
    }
}
.main-container .banner,
.main-container .product-and-image {
    margin-left: -10px;
    margin-right: -10px;
    .vc_column-inner {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.main-container .product-and-image {
    margin-bottom: calc(@rowspace ~"-" 55px);
    .wpb_single_image {
        margin-bottom: 60px;
    }
    .shop-products {
        margin-bottom: 50px;
    }
}
/* COUNTDOWN
-----------------------------*/
.countdown {
    .timebox {
        display: inline-block;
        padding: 0 27px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        &:after {
            content: ':';
            display: block;
            font-size: 30px;
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 9;
            .transform(translateY(-50%));
        }
        &:last-child:after {
            display: none;
        }
        strong {
            color: @primarycolor;
            display: block;
            font-size: 2.857em;
            font-weight: 500;
            line-height: 1;
            min-width: 60px;
        }
        span {
            display: block;
            font-size: 1em;
            margin-top: 7px;
            text-transform: uppercase;
        }
    }
}
.main-container .countdown-container {
    margin-bottom: @rowspace;
}
.countdown-container {
    padding: 100px 0;
    text-align: center;
    .row-container {
        margin: auto;
        max-width: 800px;
    }
    .wpb_text_column {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .heading-title.style1 {
        &:before {
            background: #f4f4f4 url(../images/title-icon.png) center center no-repeat;
        }
    }
    a {
        background: #323232;
        color: @white;
        display: inline-block;
        font-size: 1em;
        height: 56px;
        line-height: 56px;
        margin-top: 50px;
        padding: 0 30px;
        white-space: nowrap;
        &:hover {
            background: @primarycolor;
        }
    }
}
/* FULL BANNER
-----------------------------*/
.fullbanner {
    .vc_column_container > .vc_column-inner {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .row-container {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    .wpb_single_image {
        * {
            width: 100%;
        }
    }
}
