.header .nav-menu
{
    position:unset;
}
@media screen and (min-width:768px) and (max-width:991px)
{
.header-container.header-2 .mobile-menu
{
    width:33%;
float: right;
background:none;
}
.mobile-menu .mbmenu-toggler
{
	color:black;
}
}
span.birdy-yellow
{
	color: #ffd300 !important;
}

span.birdy-green
{
	color: #00924b !important;
}